.rating-color{
    color: #FBD20F;
}
.clay-button{
    background-color: #7e4848;
}
.clay-button:hover{
    background-color: #663333;

}
.link-hover:hover{
    /* background-color: rgb(251, 239, 224); */
    color: #af4747 !important;
    border-radius: 5px;
}